@model MVC_Demo1.Models.Department

<h1>Create Department</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red;"></span>
    </div>
    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location" style="color:red;"></span>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
