@model MVC_Demo1.Models.Department;

<h1> This is Departments Controller Index page</h1>

<h3> @ViewData["Message"]</h3>

<ul>
    <li>@Model.DepartmentId </li>
    <li>@Model.Name</li>
    <li>@Model.Location </li>
</ul>